<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Used Car API UI</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Used Car Delete</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">Input the palte</label></b>
        </p>
        <p>
            <input type="text" name="plate"
                placeholder="Car plate"></input>
        </p>
        <button type="submit">Submit</button>
    </form>

</body>
</html>