<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Used Car Plate filter</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Used Car by Model: {{ model }}</h1>
    <div class="content">
        {% for car in cars %}
                <p>
                    Marca: {{ car['brand'] }} <br>
                    Modelo: {{ car['model'] }} <br>
                    Ano: {{ car['year'] }} <br>
                </p>
        {% endfor %}

    </div>
</body>
</html>